		body
		{
			background-color:#A0D5FF;
		}
		h1
		{
			color:#6040A0;
			font-family:Arial;
		}
		#fullPage
		{
			border:dashed;
			border-color:black;
		}
		#img1
		{
			border:solid;
			border-color:black;
		}
		#img2
		{
			border:solid;
			border-color:black;
		}
		#img3
		{
			border:solid;
			border-color:black;
		}
		#spinButton
		{
			color:#6040A0;
			font-weight:bold;
		}
		#outputMessageBox
		{
			border:dashed;
		}